In [1]:
import pandas as pd
import numpy as np

In [17]:
train = pd.read_clipboard()

In [67]:
train.Embarked.value_counts().plot(kind='bar')

In [12]:
train['Age'] = train.Age.apply(lambda x: (np.array(x.split('-'), dtype=int).mean()))

In [25]:
train.Sex.str.startswith('f')

0    False
1     True
2     True
3     True
4    False
Name: Sex, dtype: bool

In [19]:
train['Age'] = train.groupby('Sex').transform(lambda x: x.fillna(x.mean())).Age

In [22]:
train.loc[(train.Embarked == 'S') & (train.Sex == 'female')].shape[0]

SyntaxError: invalid syntax (<ipython-input-22-d004dd4a1f58>, line 1)

In [26]:
train.Survived.corr?

In [28]:
pd.to_datetime?

In [29]:
data = pd.read_clipboard()

In [31]:
data['Date_time_of_event'] = pd.to_datetime(data.Date_time_of_event, format="%d-%m-%Y %H:%M")

In [38]:
data.Date_time_of_event.dt.weekofyear

0    34
1    34
2    34
3    34
4    34
Name: Date_time_of_event, dtype: int64

In [51]:
data

   Date_time_of_event  Count
0 2012-08-01 00:00:00      8
1 2012-08-01 01:00:00      2
2 2012-08-01 02:00:00      6
3 2012-08-01 03:00:00      2
4 2012-08-01 04:00:00      2

In [40]:
f = pd.read_clipboard()

In [44]:
pd.to_datetime(f['TIMESTAMP'],unit='s')

0   2014-08-14 17:57:17
1   2014-08-14 17:50:11
2   2014-08-14 17:49:28
3   2014-08-14 17:58:10
4   2014-08-14 17:59:37
Name: TIMESTAMP, dtype: datetime64[ns]

In [49]:
pd.datetime.now() - data.Date_time_of_event

0   1492 days 21:32:52.052159
1   1492 days 20:32:52.052159
2   1492 days 19:32:52.052159
3   1492 days 18:32:52.052159
4   1492 days 17:32:52.052159
Name: Date_time_of_event, dtype: timedelta64[ns]

In [50]:
data['Date_time_of_event'] = data.Date_time_of_event.apply(lambda x: x.replace(day=1))

In [52]:
data['month'] = data.Date_time_of_event.dt.month
data['year'] = data.Date_time_of_event.dt.year
data["day"]=1
data['Date_time_of_event'] = data.apply(lambda x:pd.datetime.strptime("{0} {1} {2}".format(x['year'],x['month'], x['day']), "%Y %m %d"),axis=1)

In [53]:
data

  Date_time_of_event  Count  month  year  day
0         2012-08-01      8      8  2012    1
1         2012-08-01      2      8  2012    1
2         2012-08-01      6      8  2012    1
3         2012-08-01      2      8  2012    1
4         2012-08-01      2      8  2012    1

In [54]:
cum = pd.read_clipboard()

In [57]:
cum.cumsum(axis=1)

          Monday  Tuesday  Wednesday
Eating         1        3          6
Sleeping       2        5          9
Singing        5       11         18

In [58]:
import re

In [59]:
string = "his email address is mailto:tom_42@gmail.com please mail him the documents"

In [61]:
match=re.findall(r"[\w._]+@[\w.]+",string)

In [62]:
match

['tom_42@gmail.com']

In [69]:
train.hist?

In [ ]:
pd.tools.plotting.autocorrelation_plot